.card-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    width: 400px;
    height: 250px;
    background: #f4f4f4;

    .card-content{
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding: 10px;
      overflow: hidden;
      justify-content: space-between;

      .favorites-button {
        width: 100%;
      }

      h4, p {
        width: 100%;
        margin: 0;
      }

      p {
        overflow-y: scroll;
      }

    }

    img {
      width: 45%;
    }

  }

}

#search-bar {
  display: inline-block;
}

.nav-link {
  float: right;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
